body {
  background-image: url("images/38-FoodV3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: clip !important;
}

header,
footer {
  position: absolute;
  width: 100%;
}

header {
  top: 0;
  display: flex;
  justify-content: center;
}

.MenuTitle {
  font-family: "trailmade", script;
  font-weight: 400;
  font-size: 8vh;
  color: #f7f7f7;
  padding: 1vh;
}

.MenuItem {
  display: flex;
  align-items: center;
  gap: 1vh;
  margin-bottom: 2.5vh;
}

.MenuItemType,
.MenuFoodItem {
  flex-shrink: 1;
  font-family: "coolvetica", sans-serif;
  font-size: 2vh;
  color: #f7f7f7;
}

.MenuItemType {
  flex-basis: 37.5vh;
}

.MenuFoodItem {
  flex-basis: 100%;
  flex-grow: 1;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

.MenuMealType {
  font-size: 2.5vh;
  margin-bottom: 1.25vh;
  color: #f7f7f7;
  font-family: "coolvetica", sans-serif;
  font-weight: 500;
}

.DailyMenuQR {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 9%;
  background-color: #b1102b;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-size: 2.5vh;
  text-align: center;
  padding: 1vh 1vh 1vh 1vh;
  position: absolute;
  right: 0;
  bottom: 4.9vh;
}

footer {
  bottom: 0;
  height: 3vh;
  background-color: #b1102b;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-size: 2vh;
  text-align: center;
  padding: 1vh 0;
  overflow: hidden;
}

.MenuBreakfast,
.MenuLunch,
.MenuDinner,
.MenuDessert {
  display: flex;
  flex-direction: column;
}

.MenuContainer {
  display: flex;
  justify-content: space-evenly;
}

.MenuSubContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 40%;
}

hr {
  border-top: 0.125vh solid #f7f7f7;
  width: 100%;
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.ScrollingText span {
  display: inline-block;
  animation: scrollText 0s linear infinite; /* duration will be set by JS */
  white-space: nowrap;
}

i {
  margin: 0 2vh;
}

.MenuLogo {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.MenuLogo img {
  width: 12%;
  margin-top: 1vh;
}

#Img1 {
  margin-left: 4vh;
}

#Img2 {
  margin-right: 4vh;
}
